body{

margin:0;
font-family:Segoe UI;

background:linear-gradient(
135deg,
#020617,
#0f172a,
#1d4ed8
);

color:#e6f1ff;

}

.navbar{

display:flex;
justify-content:space-between;
padding:20px 40px;

}

.hero{

text-align:center;
padding:120px 20px;

}

.hero h1{

font-size:3rem;
color:#38bdf8;

}

button{

padding:14px 28px;
border:none;
border-radius:10px;

background:linear-gradient(
90deg,
#38bdf8,
#5C73F2
);

color:white;
font-size:1rem;

cursor:pointer;

}

.chat-demo{

margin-top:60px;

display:flex;
flex-direction:column;
gap:15px;

align-items:center;

}

.bubble{

padding:14px 18px;
border-radius:12px;
max-width:300px;

}

.customer{

background:#020617;
border:1px solid #38bdf8;

}

.ai{

background:#1e293b;

}